* text=auto

/mvnw text eol=lf
*.sh text eol=lf
*.bash text eol=lf

*.cmd text eol=crlf
*.bat text eol=crlf

*.java text eol=lf
*.kt text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.properties text eol=lf
*.sql text eol=lf
*.tex text eol=lf
*.sty text eol=lf
*.bib text eol=lf
*.dot text eol=lf
*.puml text eol=lf

*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.pdf binary
*.jar binary
*.keystore binary
*.pt binary
